stubs/wsdl-override/CatalogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://microsoft.com/webservices/" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://microsoft.com/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/webservices/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="QueryResourceTypes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resourceTypeIdentifiers" type="tns:ArrayOfGuid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGuid">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="guid" type="s1:guid" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryResourceTypesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResourceTypesResult" type="tns:ArrayOfCatalogResourceType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfCatalogResourceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CatalogResourceType" nillable="true" type="tns:CatalogResourceType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CatalogResourceType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
        <s:attribute name="Identifier" type="s1:guid" use="required" />
        <s:attribute name="DisplayName" type="s:string" />
      </s:complexType>
      <s:element name="QueryResources">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resourceIdentifiers" type="tns:ArrayOfGuid" />
            <s:element minOccurs="1" maxOccurs="1" name="queryOptions" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResourcesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResourcesResult" type="tns:CatalogData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CatalogData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CatalogResourceTypes" type="tns:ArrayOfCatalogResourceType" />
          <s:element minOccurs="0" maxOccurs="1" name="CatalogResources" type="tns:ArrayOfCatalogResource" />
          <s:element minOccurs="0" maxOccurs="1" name="CatalogNodes" type="tns:ArrayOfCatalogNode" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedResources" type="tns:ArrayOfCatalogResource" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedNodeResources" type="tns:ArrayOfCatalogResource" />
          <s:element minOccurs="0" maxOccurs="1" name="DeletedNodes" type="tns:ArrayOfCatalogNode" />
          <s:element minOccurs="1" maxOccurs="1" name="LocationServiceLastChangeId" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCatalogResource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CatalogResource" nillable="true" type="tns:CatalogResource" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CatalogResource">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CatalogServiceReferences" type="tns:ArrayOfCatalogServiceReference" />
          <s:element minOccurs="0" maxOccurs="1" name="Properties" type="tns:ArrayOfKeyValueOfStringString" />
          <s:element minOccurs="0" maxOccurs="1" name="NodeReferencePaths" type="tns:ArrayOfString" />
        </s:sequence>
        <s:attribute name="Identifier" type="s1:guid" use="required" />
        <s:attribute name="DisplayName" type="s:string" />
        <s:attribute name="ResourceTypeIdentifier" type="s1:guid" use="required" />
        <s:attribute name="TempCorrelationId" type="s1:guid" use="required" />
        <s:attribute name="ctype" type="s:int" use="required" />
        <s:attribute name="MatchedQuery" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfCatalogServiceReference">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CatalogServiceReference" nillable="true" type="tns:CatalogServiceReference" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CatalogServiceReference">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ServiceDefinition" type="tns:ServiceDefinition" />
        </s:sequence>
        <s:attribute name="ResourceIdentifier" type="s1:guid" use="required" />
        <s:attribute name="AssociationKey" type="s:string" />
      </s:complexType>
      <s:complexType name="ServiceDefinition">
        <s:sequence>
          <!--[IntelliJ] minOccurs set to 0 -->
          <s:element minOccurs="0" maxOccurs="1" name="RelativeToSetting" type="tns:RelativeToSetting" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceOwner" type="s1:guid" />
          <!--[IntelliJ] ******************* -->
          <s:element minOccurs="0" maxOccurs="1" name="LocationMappings" type="tns:ArrayOfLocationMapping" />
          <s:element minOccurs="0" maxOccurs="1" name="ParentServiceType" type="s:string" />
          <!--[IntelliJ] minOccurs set to 0 -->
          <s:element minOccurs="0" maxOccurs="1" name="ParentIdentifier" type="s1:guid" />
          <!--[IntelliJ] ******************* -->
          <s:element minOccurs="0" maxOccurs="1" default="Active" name="Status" type="tns:ServiceStatus" />
        </s:sequence>
        <s:attribute name="serviceType" type="s:string" />
        <s:attribute name="identifier" type="s1:guid" use="required" />
        <s:attribute name="displayName" type="s:string" />
        <s:attribute name="relativeToSetting" type="s:int" use="required" />
        <s:attribute name="relativePath" type="s:string" />
        <s:attribute name="description" type="s:string" />
        <s:attribute name="toolId" type="s:string" />
        <s:attribute default="0" name="resourceVersion" type="s:int" />
        <s:attribute name="minVersion" type="s:string" />
        <s:attribute name="maxVersion" type="s:string" />
        <s:attribute name="releasedVersion" type="s:string" />
      </s:complexType>
      <s:simpleType name="RelativeToSetting">
        <s:restriction base="s:string">
          <s:enumeration value="Context" />
          <s:enumeration value="WebApplication" />
          <s:enumeration value="FullyQualified" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfLocationMapping">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocationMapping" nillable="true" type="tns:LocationMapping" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocationMapping">
        <s:attribute name="accessMappingMoniker" type="s:string" />
        <s:attribute name="location" type="s:string" />
      </s:complexType>
      <s:simpleType name="ServiceStatus">
        <s:restriction base="s:string">
          <s:enumeration value="Assigned" />
          <s:enumeration value="Active" />
          <s:enumeration value="Moving" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfKeyValueOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfStringString" nillable="true" type="tns:KeyValueOfStringString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="KeyValueOfStringString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Key" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCatalogNode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CatalogNode" nillable="true" type="tns:CatalogNode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CatalogNode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NodeDependencies" type="tns:ArrayOfCatalogNodeDependency" />
        </s:sequence>
        <s:attribute name="FullPath" type="s:string" />
        <s:attribute name="default" type="s:boolean" use="required" />
        <s:attribute name="ResourceIdentifier" type="s1:guid" use="required" />
        <s:attribute name="ParentPath" type="s:string" />
        <s:attribute name="ChildItem" type="s:string" />
        <s:attribute name="NodeDependenciesIncluded" type="s:boolean" use="required" />
        <s:attribute name="ctype" type="s:int" use="required" />
        <s:attribute name="MatchedQuery" type="s:boolean" use="required" />
      </s:complexType>
      <s:complexType name="ArrayOfCatalogNodeDependency">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CatalogNodeDependency" nillable="true" type="tns:CatalogNodeDependency" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CatalogNodeDependency">
        <s:attribute name="FullPath" type="s:string" />
        <s:attribute name="AssociationKey" type="s:string" />
        <s:attribute name="RequiredNodeFullPath" type="s:string" />
        <s:attribute name="IsSingleton" type="s:boolean" use="required" />
      </s:complexType>
      <s:element name="QueryResourcesByType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resourceTypes" type="tns:ArrayOfGuid" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyFilters" type="tns:ArrayOfKeyValueOfStringString" />
            <s:element minOccurs="1" maxOccurs="1" name="queryOptions" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryResourcesByTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryResourcesByTypeResult" type="tns:CatalogData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryNodes">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pathSpecs" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="resourceTypeFilters" type="tns:ArrayOfGuid" />
            <s:element minOccurs="0" maxOccurs="1" name="propertyFilters" type="tns:ArrayOfKeyValueOfStringString" />
            <s:element minOccurs="1" maxOccurs="1" name="queryOptions" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryNodesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryNodesResult" type="tns:CatalogData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="resourceIdentifier" type="s1:guid" />
            <s:element minOccurs="0" maxOccurs="1" name="pathFilters" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="resourceTypeFilters" type="tns:ArrayOfGuid" />
            <s:element minOccurs="1" maxOccurs="1" name="recurseToRoot" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="queryOptions" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryParentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryParentsResult" type="tns:CatalogData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryDependents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="path" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="queryOptions" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryDependentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="QueryDependentsResult" type="tns:CatalogData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCatalogChanges">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resources" type="tns:ArrayOfCatalogResource" />
            <s:element minOccurs="0" maxOccurs="1" name="nodes" type="tns:ArrayOfCatalogNode" />
            <s:element minOccurs="0" maxOccurs="1" name="nodeMoves" type="tns:ArrayOfKeyValueOfStringString" />
            <s:element minOccurs="1" maxOccurs="1" name="queryOptions" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="preview" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveCatalogChangesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveCatalogChangesResult" type="tns:CatalogData" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="QueryResourceTypesSoapIn">
    <wsdl:part name="parameters" element="tns:QueryResourceTypes" />
  </wsdl:message>
  <wsdl:message name="QueryResourceTypesSoapOut">
    <wsdl:part name="parameters" element="tns:QueryResourceTypesResponse" />
  </wsdl:message>
  <wsdl:message name="QueryResourcesSoapIn">
    <wsdl:part name="parameters" element="tns:QueryResources" />
  </wsdl:message>
  <wsdl:message name="QueryResourcesSoapOut">
    <wsdl:part name="parameters" element="tns:QueryResourcesResponse" />
  </wsdl:message>
  <wsdl:message name="QueryResourcesByTypeSoapIn">
    <wsdl:part name="parameters" element="tns:QueryResourcesByType" />
  </wsdl:message>
  <wsdl:message name="QueryResourcesByTypeSoapOut">
    <wsdl:part name="parameters" element="tns:QueryResourcesByTypeResponse" />
  </wsdl:message>
  <wsdl:message name="QueryNodesSoapIn">
    <wsdl:part name="parameters" element="tns:QueryNodes" />
  </wsdl:message>
  <wsdl:message name="QueryNodesSoapOut">
    <wsdl:part name="parameters" element="tns:QueryNodesResponse" />
  </wsdl:message>
  <wsdl:message name="QueryParentsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryParents" />
  </wsdl:message>
  <wsdl:message name="QueryParentsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryParentsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryDependentsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryDependents" />
  </wsdl:message>
  <wsdl:message name="QueryDependentsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryDependentsResponse" />
  </wsdl:message>
  <wsdl:message name="SaveCatalogChangesSoapIn">
    <wsdl:part name="parameters" element="tns:SaveCatalogChanges" />
  </wsdl:message>
  <wsdl:message name="SaveCatalogChangesSoapOut">
    <wsdl:part name="parameters" element="tns:SaveCatalogChangesResponse" />
  </wsdl:message>
  <wsdl:portType name="CatalogWebServiceSoap">
    <wsdl:operation name="QueryResourceTypes">
      <wsdl:input message="tns:QueryResourceTypesSoapIn" />
      <wsdl:output message="tns:QueryResourceTypesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryResources">
      <wsdl:input message="tns:QueryResourcesSoapIn" />
      <wsdl:output message="tns:QueryResourcesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryResourcesByType">
      <wsdl:input message="tns:QueryResourcesByTypeSoapIn" />
      <wsdl:output message="tns:QueryResourcesByTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryNodes">
      <wsdl:input message="tns:QueryNodesSoapIn" />
      <wsdl:output message="tns:QueryNodesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryParents">
      <wsdl:input message="tns:QueryParentsSoapIn" />
      <wsdl:output message="tns:QueryParentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryDependents">
      <wsdl:input message="tns:QueryDependentsSoapIn" />
      <wsdl:output message="tns:QueryDependentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveCatalogChanges">
      <wsdl:input message="tns:SaveCatalogChangesSoapIn" />
      <wsdl:output message="tns:SaveCatalogChangesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CatalogWebServiceSoap" type="tns:CatalogWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryResourceTypes">
      <soap:operation soapAction="http://microsoft.com/webservices/QueryResourceTypes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryResources">
      <soap:operation soapAction="http://microsoft.com/webservices/QueryResources" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryResourcesByType">
      <soap:operation soapAction="http://microsoft.com/webservices/QueryResourcesByType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryNodes">
      <soap:operation soapAction="http://microsoft.com/webservices/QueryNodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParents">
      <soap:operation soapAction="http://microsoft.com/webservices/QueryParents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDependents">
      <soap:operation soapAction="http://microsoft.com/webservices/QueryDependents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCatalogChanges">
      <soap:operation soapAction="http://microsoft.com/webservices/SaveCatalogChanges" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CatalogWebServiceSoap12" type="tns:CatalogWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="QueryResourceTypes">
      <soap12:operation soapAction="http://microsoft.com/webservices/QueryResourceTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryResources">
      <soap12:operation soapAction="http://microsoft.com/webservices/QueryResources" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryResourcesByType">
      <soap12:operation soapAction="http://microsoft.com/webservices/QueryResourcesByType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryNodes">
      <soap12:operation soapAction="http://microsoft.com/webservices/QueryNodes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryParents">
      <soap12:operation soapAction="http://microsoft.com/webservices/QueryParents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryDependents">
      <soap12:operation soapAction="http://microsoft.com/webservices/QueryDependents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveCatalogChanges">
      <soap12:operation soapAction="http://microsoft.com/webservices/SaveCatalogChanges" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogWebService">
    <wsdl:port name="CatalogWebServiceSoap" binding="tns:CatalogWebServiceSoap">
      <soap:address location="http://unit-300:8080/tfs/TeamFoundation/Administration/v3.0/CatalogService.asmx" />
    </wsdl:port>
    <wsdl:port name="CatalogWebServiceSoap12" binding="tns:CatalogWebServiceSoap12">
      <soap12:address location="http://unit-300:8080/tfs/TeamFoundation/Administration/v3.0/CatalogService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>