stubs/wsdl-override/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
    [IntelliJ] This WSDL document contains modifications needed to execute typed calls to the service, as opposed to TFS generic model
-->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Team Foundation WorkItemTracking ClientService web service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03">
      <s:import namespace="http://www.w3.org/2001/XMLSchema" />
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <!-- Intellij ++++++++++++++ -->
      <s:element name="Expression">
        <s:complexType>
          <s:sequence>
            <s:element name="String" type="s:string" minOccurs="0" maxOccurs="1"/>
            <s:element name="Number" type="s:int" minOccurs="0" maxOccurs="1"/>
            <s:element name="DateTime" type="s:dateTime" minOccurs="0" maxOccurs="1"/>
          </s:sequence>

          <s:attribute name="Column" type="s:string"/>
          <s:attribute name="Operator" type="tns:OperatorType"/>
        </s:complexType>
      </s:element>

      <s:simpleType name="OperatorType">
        <s:restriction base="s:string">
          <s:enumeration value="equals"/>
          <s:enumeration value="notEquals"/>
          <s:enumeration value="under"/>
          <s:enumeration value="notUnder"/>
          <s:enumeration value="greater"/>
          <s:enumeration value="less"/>
          <s:enumeration value="equalsGreater"/>
          <s:enumeration value="equalsLess"/>
          <s:enumeration value="ever"/>
          <s:enumeration value="contains"/>
          <s:enumeration value="notContains"/>
        </s:restriction>
      </s:simpleType>

      <s:simpleType name="GroupOperatorType">
        <s:restriction base="s:string">
          <s:enumeration value="Or"/>
          <s:enumeration value="And"/>
        </s:restriction>
      </s:simpleType>

      <s:complexType name="GroupType">
        <s:sequence>
          <s:element name="Group" type="tns:GroupType" minOccurs="0" maxOccurs="unbounded"/>
          <s:element ref="tns:Expression" minOccurs="0" maxOccurs="unbounded"/>
        </s:sequence>
        <s:attribute name="GroupOperator" type="tns:GroupOperatorType"/>
      </s:complexType>

      <s:element name="Group" type="tns:GroupType"/>
      <!-- Intellij ************ -->
      <s:element name="GetStoredQueryItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rowVersion" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoredQueryItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryItemsPayload">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestHeader" type="tns:RequestHeader" />
      <s:complexType name="RequestHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetWorkitemTrackingVersion">
        <s:complexType />
      </s:element>
      <s:element name="GetWorkitemTrackingVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetWorkitemTrackingVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="StampWorkitemCache">
        <s:complexType />
      </s:element>
      <s:element name="StampWorkitemCacheResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetReferencingWorkitemUris">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="artifactUri" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReferencingWorkitemUrisResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReferencingWorkitemUrisResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWorkItem">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="workItemId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="revisionId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minimumRevisionId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="asOfDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="useMaster" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="metadataHave" type="tns:ArrayOfMetadataTableHaveEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfMetadataTableHaveEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="MetadataTableHaveEntry" type="tns:MetadataTableHaveEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="MetadataTableHaveEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="TableName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="RowVersion" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetWorkItemResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="workItem">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dbStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metadata">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryWorkitems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psQuery">
              <s:complexType>
                <s:sequence>
                  <!-- Intellij ++++++++++++++ -->
                  <s:element name="Query">
                    <s:complexType>
                      <s:sequence>
                        <s:element ref="tns:Expression" minOccurs="0" maxOccurs="1"/>
                        <s:element ref="tns:Group" minOccurs="0" maxOccurs="1"/>
                      </s:sequence>
                      <s:attribute name="xmlns" type="s:string" default=""/>
                    </s:complexType>
                    <s:anyAttribute/>
                  </s:element>
                  <!-- Intellij ************** -->
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="sort" type="tns:ArrayOfQuerySortOrderEntry" />
            <s:element minOccurs="1" maxOccurs="1" name="useMaster" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="metadataHave" type="tns:ArrayOfMetadataTableHaveEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfQuerySortOrderEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="QuerySortOrderEntry" type="tns:QuerySortOrderEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="QuerySortOrderEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ColumnName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Ascending" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:element name="QueryWorkitemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="resultIds">
              <s:complexType>
                <s:sequence>
                  <!-- Intellij ++++++++++++++ -->
                  <s:element name="QueryIds" minOccurs="1" maxOccurs="1" form="unqualified">
                    <s:complexType>
                      <s:sequence>
                        <s:element name="id" minOccurs="0" maxOccurs="unbounded" form="unqualified">
                          <s:complexType>
                            <s:sequence/>
                            <s:attribute name="s" type="s:int"/>
                            <s:attribute name="e" type="s:int"/>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <!-- Intellij ************** -->
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="asOfDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="dbStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metadata">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PageWorkitemsByIds">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="columns" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="longTextColumns" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="asOfDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="useMaster" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="metadataHave" type="tns:ArrayOfMetadataTableHaveEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PageWorkitemsByIdsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="items">
              <s:complexType>
                <s:sequence>
                  <!-- Intellij ++++++++++++++ -->
                  <s:element minOccurs="0" maxOccurs="1" name="table">
                    <s:complexType>
                      <s:attribute name="name" type="s:string"/>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="columns">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="c">
                                <s:complexType>
                                  <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="1" name="n" type="s:string"/>
                                    <s:element minOccurs="1" maxOccurs="1" name="t" type="s:string"/>
                                  </s:sequence>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                        <s:element minOccurs="0" maxOccurs="1" name="rows">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="unbounded" name="r">
                                <s:complexType>
                                  <s:sequence>
                                    <s:element minOccurs="1" maxOccurs="unbounded" name="f" type="s:string"/>
                                  </s:sequence>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                    </s:complexType>
                  </s:element>
                  <!-- Intellij ************** -->
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="metadata">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PageWorkitemsByIdRevs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pairs" type="tns:ArrayOfIdRevisionPair" />
            <s:element minOccurs="0" maxOccurs="1" name="columns" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="longTextColumns" type="tns:ArrayOfInt" />
            <s:element minOccurs="1" maxOccurs="1" name="asOfDate" nillable="true" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="useMaster" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfIdRevisionPair">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="IdRevisionPair" type="tns:IdRevisionPair" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="IdRevisionPair">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Revision" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="PageWorkitemsByIdRevsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="pageDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="items">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PageItemsOnBehalfOf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ids" type="tns:ArrayOfInt" />
            <s:element minOccurs="0" maxOccurs="1" name="columns" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PageItemsOnBehalfOfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="items">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryWorkitemCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psQuery">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="1" maxOccurs="1" name="useMaster" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="metadataHave" type="tns:ArrayOfMetadataTableHaveEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryWorkitemCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="asOfDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="dbStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metadata">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryWorkitemCountOnBehalfOf">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="query">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QueryWorkitemCountOnBehalfOfResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetadata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="metadataHave" type="tns:ArrayOfMetadataTableHaveEntry" />
            <s:element minOccurs="1" maxOccurs="1" name="useMaster" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetadataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="metadata">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dbStamp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="locale" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="comparisonStyle" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="callerIdentity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetadataEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="metadataHave" type="tns:ArrayOfMetadataTableHaveEntry" />
            <s:element minOccurs="1" maxOccurs="1" name="useMaster" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetadataExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="metadata">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dbStamp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="locale" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="comparisonStyle" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="callerIdentity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="callerIdentitySid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetadataEx2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="metadataHave" type="tns:ArrayOfMetadataTableHaveEntry" />
            <s:element minOccurs="1" maxOccurs="1" name="useMaster" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetadataEx2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="metadata">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dbStamp" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="locale" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="comparisonStyle" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="package">
              <s:complexType>
                <s:sequence>
                  <!-- Intellij ++++++++++++++ -->
                  <s:element minOccurs="0" maxOccurs="1" name="Package">
                    <s:complexType>
                      <s:sequence>
                        <s:element minOccurs="0" maxOccurs="1" name="UpdateWorkItem">
                          <s:complexType>
                            <s:sequence>
                              <s:element minOccurs="0" maxOccurs="1" name="ComputedColumns">
                                <s:complexType>
                                  <s:sequence>
                                    <s:element minOccurs="0" maxOccurs="unbounded" name="ComputedColumn">
                                      <s:complexType>
                                        <s:attribute name="Column" type="s:string"/>
                                      </s:complexType>
                                    </s:element>
                                  </s:sequence>
                                </s:complexType>
                              </s:element>
                              <s:element minOccurs="0" maxOccurs="1" name="Columns">
                                <s:complexType>
                                  <s:sequence>
                                    <s:element minOccurs="0" maxOccurs="unbounded" name="Column">
                                      <s:complexType>
                                        <s:sequence>
                                          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
                                        </s:sequence>
                                        <s:attribute name="Column" type="s:string"/>
                                        <s:attribute name="Type" type="s:string"/>
                                      </s:complexType>
                                    </s:element>
                                  </s:sequence>
                                </s:complexType>
                              </s:element>
                              <s:element minOccurs="0" maxOccurs="1" name="InsertText">
                                <s:complexType mixed="true">
                                  <s:simpleContent>
                                    <s:extension base="s:string">
                                      <s:attribute name="FieldName" type="s:string" fixed="System.History"/>
                                      <s:attribute name="FieldDisplayName" type="s:string" fixed="History"/>
                                    </s:extension>
                                  </s:simpleContent>
                                </s:complexType>
                              </s:element>
                              <s:element minOccurs="0" maxOccurs="1" name="InsertResourceLink">
                                <s:complexType>
                                  <s:attribute name="FieldName" type="s:string" fixed="System.BISLinks"/>
                                  <s:attribute name="LinkType" type="s:string" fixed="Fixed In Changeset"/>
                                  <s:attribute name="Comment" type="s:string"/>
                                  <s:attribute name="Location" type="s:string"/>
                                </s:complexType>
                              </s:element>
                            </s:sequence>
                            <s:attribute name="WorkItemID" type="s:int"/>
                            <s:attribute name="Revision" type="s:int"/>
                            <s:attribute name="ObjectType" type="s:string" fixed="WorkItem"/>
                          </s:complexType>
                        </s:element>
                      </s:sequence>
                      <s:attribute name="xmlns" type="s:string"/>
                    </s:complexType>
                  </s:element>
                  <!-- Intellij ************** -->
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="metadataHave" type="tns:ArrayOfMetadataTableHaveEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="result">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dbStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metadata">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="package">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="metadataHave" type="tns:ArrayOfMetadataTableHaveEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BulkUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BulkUpdateResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="result">
              <s:complexType>
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="dbStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="metadata">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoredQuery">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="queryId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoredQueryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queryPayload">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoredQueries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rowVersion" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="projectId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoredQueriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="queriesPayload">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncExternalStructures">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectURI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncExternalStructuresResponse">
        <s:complexType />
      </s:element>
      <s:element name="SyncAccessControlLists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectURI" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncAccessControlListsResponse">
        <s:complexType />
      </s:element>
      <s:element name="SyncBisGroupsAndUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="projectUri" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SyncBisGroupsAndUsersResponse">
        <s:complexType />
      </s:element>
      <s:element name="RequestCancel">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="requestIdToCancel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RequestCancelResponse">
        <s:complexType />
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStoredQueryItemsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStoredQueryItems" />
  </wsdl:message>
  <wsdl:message name="GetStoredQueryItemsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStoredQueryItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetStoredQueryItemsRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetWorkitemTrackingVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkitemTrackingVersion" />
  </wsdl:message>
  <wsdl:message name="GetWorkitemTrackingVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkitemTrackingVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkitemTrackingVersionRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="StampWorkitemCacheSoapIn">
    <wsdl:part name="parameters" element="tns:StampWorkitemCache" />
  </wsdl:message>
  <wsdl:message name="StampWorkitemCacheSoapOut">
    <wsdl:part name="parameters" element="tns:StampWorkitemCacheResponse" />
  </wsdl:message>
  <wsdl:message name="StampWorkitemCacheRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetReferencingWorkitemUrisSoapIn">
    <wsdl:part name="parameters" element="tns:GetReferencingWorkitemUris" />
  </wsdl:message>
  <wsdl:message name="GetReferencingWorkitemUrisSoapOut">
    <wsdl:part name="parameters" element="tns:GetReferencingWorkitemUrisResponse" />
  </wsdl:message>
  <wsdl:message name="GetReferencingWorkitemUrisRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemSoapIn">
    <wsdl:part name="parameters" element="tns:GetWorkItem" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemSoapOut">
    <wsdl:part name="parameters" element="tns:GetWorkItemResponse" />
  </wsdl:message>
  <wsdl:message name="GetWorkItemRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="QueryWorkitemsSoapIn">
    <wsdl:part name="parameters" element="tns:QueryWorkitems" />
  </wsdl:message>
  <wsdl:message name="QueryWorkitemsSoapOut">
    <wsdl:part name="parameters" element="tns:QueryWorkitemsResponse" />
  </wsdl:message>
  <wsdl:message name="QueryWorkitemsRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="PageWorkitemsByIdsSoapIn">
    <wsdl:part name="parameters" element="tns:PageWorkitemsByIds" />
  </wsdl:message>
  <wsdl:message name="PageWorkitemsByIdsSoapOut">
    <wsdl:part name="parameters" element="tns:PageWorkitemsByIdsResponse" />
  </wsdl:message>
  <wsdl:message name="PageWorkitemsByIdsRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="PageWorkitemsByIdRevsSoapIn">
    <wsdl:part name="parameters" element="tns:PageWorkitemsByIdRevs" />
  </wsdl:message>
  <wsdl:message name="PageWorkitemsByIdRevsSoapOut">
    <wsdl:part name="parameters" element="tns:PageWorkitemsByIdRevsResponse" />
  </wsdl:message>
  <wsdl:message name="PageWorkitemsByIdRevsRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="PageItemsOnBehalfOfSoapIn">
    <wsdl:part name="parameters" element="tns:PageItemsOnBehalfOf" />
  </wsdl:message>
  <wsdl:message name="PageItemsOnBehalfOfSoapOut">
    <wsdl:part name="parameters" element="tns:PageItemsOnBehalfOfResponse" />
  </wsdl:message>
  <wsdl:message name="PageItemsOnBehalfOfRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="QueryWorkitemCountSoapIn">
    <wsdl:part name="parameters" element="tns:QueryWorkitemCount" />
  </wsdl:message>
  <wsdl:message name="QueryWorkitemCountSoapOut">
    <wsdl:part name="parameters" element="tns:QueryWorkitemCountResponse" />
  </wsdl:message>
  <wsdl:message name="QueryWorkitemCountRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="QueryWorkitemCountOnBehalfOfSoapIn">
    <wsdl:part name="parameters" element="tns:QueryWorkitemCountOnBehalfOf" />
  </wsdl:message>
  <wsdl:message name="QueryWorkitemCountOnBehalfOfSoapOut">
    <wsdl:part name="parameters" element="tns:QueryWorkitemCountOnBehalfOfResponse" />
  </wsdl:message>
  <wsdl:message name="QueryWorkitemCountOnBehalfOfRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetMetadataSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetadata" />
  </wsdl:message>
  <wsdl:message name="GetMetadataSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetadataRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetMetadataExSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetadataEx" />
  </wsdl:message>
  <wsdl:message name="GetMetadataExSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetadataExResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetadataExRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetMetadataEx2SoapIn">
    <wsdl:part name="parameters" element="tns:GetMetadataEx2" />
  </wsdl:message>
  <wsdl:message name="GetMetadataEx2SoapOut">
    <wsdl:part name="parameters" element="tns:GetMetadataEx2Response" />
  </wsdl:message>
  <wsdl:message name="GetMetadataEx2RequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="BulkUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:BulkUpdate" />
  </wsdl:message>
  <wsdl:message name="BulkUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:BulkUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="BulkUpdateRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetStoredQuerySoapIn">
    <wsdl:part name="parameters" element="tns:GetStoredQuery" />
  </wsdl:message>
  <wsdl:message name="GetStoredQuerySoapOut">
    <wsdl:part name="parameters" element="tns:GetStoredQueryResponse" />
  </wsdl:message>
  <wsdl:message name="GetStoredQueryRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="GetStoredQueriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetStoredQueries" />
  </wsdl:message>
  <wsdl:message name="GetStoredQueriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetStoredQueriesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStoredQueriesRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="SyncExternalStructuresSoapIn">
    <wsdl:part name="parameters" element="tns:SyncExternalStructures" />
  </wsdl:message>
  <wsdl:message name="SyncExternalStructuresSoapOut">
    <wsdl:part name="parameters" element="tns:SyncExternalStructuresResponse" />
  </wsdl:message>
  <wsdl:message name="SyncExternalStructuresRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="SyncAccessControlListsSoapIn">
    <wsdl:part name="parameters" element="tns:SyncAccessControlLists" />
  </wsdl:message>
  <wsdl:message name="SyncAccessControlListsSoapOut">
    <wsdl:part name="parameters" element="tns:SyncAccessControlListsResponse" />
  </wsdl:message>
  <wsdl:message name="SyncAccessControlListsRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="SyncBisGroupsAndUsersSoapIn">
    <wsdl:part name="parameters" element="tns:SyncBisGroupsAndUsers" />
  </wsdl:message>
  <wsdl:message name="SyncBisGroupsAndUsersSoapOut">
    <wsdl:part name="parameters" element="tns:SyncBisGroupsAndUsersResponse" />
  </wsdl:message>
  <wsdl:message name="SyncBisGroupsAndUsersRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:message name="RequestCancelSoapIn">
    <wsdl:part name="parameters" element="tns:RequestCancel" />
  </wsdl:message>
  <wsdl:message name="RequestCancelSoapOut">
    <wsdl:part name="parameters" element="tns:RequestCancelResponse" />
  </wsdl:message>
  <wsdl:message name="RequestCancelRequestHeader">
    <wsdl:part name="RequestHeader" element="tns:RequestHeader" />
  </wsdl:message>
  <wsdl:portType name="ClientService2Soap">
    <wsdl:operation name="GetStoredQueryItems">
      <wsdl:input message="tns:GetStoredQueryItemsSoapIn" />
      <wsdl:output message="tns:GetStoredQueryItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkitemTrackingVersion">
      <wsdl:input message="tns:GetWorkitemTrackingVersionSoapIn" />
      <wsdl:output message="tns:GetWorkitemTrackingVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="StampWorkitemCache">
      <wsdl:input message="tns:StampWorkitemCacheSoapIn" />
      <wsdl:output message="tns:StampWorkitemCacheSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReferencingWorkitemUris">
      <wsdl:input message="tns:GetReferencingWorkitemUrisSoapIn" />
      <wsdl:output message="tns:GetReferencingWorkitemUrisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkItem">
      <wsdl:input message="tns:GetWorkItemSoapIn" />
      <wsdl:output message="tns:GetWorkItemSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryWorkitems">
      <wsdl:input message="tns:QueryWorkitemsSoapIn" />
      <wsdl:output message="tns:QueryWorkitemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PageWorkitemsByIds">
      <wsdl:input message="tns:PageWorkitemsByIdsSoapIn" />
      <wsdl:output message="tns:PageWorkitemsByIdsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PageWorkitemsByIdRevs">
      <wsdl:input message="tns:PageWorkitemsByIdRevsSoapIn" />
      <wsdl:output message="tns:PageWorkitemsByIdRevsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PageItemsOnBehalfOf">
      <wsdl:input message="tns:PageItemsOnBehalfOfSoapIn" />
      <wsdl:output message="tns:PageItemsOnBehalfOfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryWorkitemCount">
      <wsdl:input message="tns:QueryWorkitemCountSoapIn" />
      <wsdl:output message="tns:QueryWorkitemCountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="QueryWorkitemCountOnBehalfOf">
      <wsdl:input message="tns:QueryWorkitemCountOnBehalfOfSoapIn" />
      <wsdl:output message="tns:QueryWorkitemCountOnBehalfOfSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetadata">
      <wsdl:input message="tns:GetMetadataSoapIn" />
      <wsdl:output message="tns:GetMetadataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetadataEx">
      <wsdl:input message="tns:GetMetadataExSoapIn" />
      <wsdl:output message="tns:GetMetadataExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetadataEx2">
      <wsdl:input message="tns:GetMetadataEx2SoapIn" />
      <wsdl:output message="tns:GetMetadataEx2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BulkUpdate">
      <wsdl:input message="tns:BulkUpdateSoapIn" />
      <wsdl:output message="tns:BulkUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStoredQuery">
      <wsdl:input message="tns:GetStoredQuerySoapIn" />
      <wsdl:output message="tns:GetStoredQuerySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStoredQueries">
      <wsdl:input message="tns:GetStoredQueriesSoapIn" />
      <wsdl:output message="tns:GetStoredQueriesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncExternalStructures">
      <wsdl:input message="tns:SyncExternalStructuresSoapIn" />
      <wsdl:output message="tns:SyncExternalStructuresSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncAccessControlLists">
      <wsdl:input message="tns:SyncAccessControlListsSoapIn" />
      <wsdl:output message="tns:SyncAccessControlListsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SyncBisGroupsAndUsers">
      <wsdl:input message="tns:SyncBisGroupsAndUsersSoapIn" />
      <wsdl:output message="tns:SyncBisGroupsAndUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RequestCancel">
      <wsdl:input message="tns:RequestCancelSoapIn" />
      <wsdl:output message="tns:RequestCancelSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientService2Soap" type="tns:ClientService2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStoredQueryItems">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetStoredQueryItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStoredQueryItemsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkitemTrackingVersion">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetWorkitemTrackingVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetWorkitemTrackingVersionRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StampWorkitemCache">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/StampWorkitemCache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:StampWorkitemCacheRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencingWorkitemUris">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetReferencingWorkitemUris" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetReferencingWorkitemUrisRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkItem">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetWorkItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetWorkItemRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryWorkitems">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/QueryWorkitems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryWorkitemsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageWorkitemsByIds">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/PageWorkitemsByIds" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PageWorkitemsByIdsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageWorkitemsByIdRevs">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/PageWorkitemsByIdRevs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PageWorkitemsByIdRevsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageItemsOnBehalfOf">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/PageItemsOnBehalfOf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:PageItemsOnBehalfOfRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryWorkitemCount">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/QueryWorkitemCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryWorkitemCountRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryWorkitemCountOnBehalfOf">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/QueryWorkitemCountOnBehalfOf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:QueryWorkitemCountOnBehalfOfRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetadata">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMetadataRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetadataEx">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetMetadataEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMetadataExRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetadataEx2">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetMetadataEx2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetMetadataEx2RequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkUpdate">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/BulkUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:BulkUpdateRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoredQuery">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetStoredQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStoredQueryRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoredQueries">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetStoredQueries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetStoredQueriesRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncExternalStructures">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/SyncExternalStructures" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SyncExternalStructuresRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncAccessControlLists">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/SyncAccessControlLists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SyncAccessControlListsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncBisGroupsAndUsers">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/SyncBisGroupsAndUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:SyncBisGroupsAndUsersRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCancel">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/RequestCancel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:RequestCancelRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientService2Soap12" type="tns:ClientService2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStoredQueryItems">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetStoredQueryItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStoredQueryItemsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkitemTrackingVersion">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetWorkitemTrackingVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetWorkitemTrackingVersionRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StampWorkitemCache">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/StampWorkitemCache" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:StampWorkitemCacheRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReferencingWorkitemUris">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetReferencingWorkitemUris" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetReferencingWorkitemUrisRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkItem">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetWorkItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetWorkItemRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryWorkitems">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/QueryWorkitems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryWorkitemsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageWorkitemsByIds">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/PageWorkitemsByIds" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PageWorkitemsByIdsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageWorkitemsByIdRevs">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/PageWorkitemsByIdRevs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PageWorkitemsByIdRevsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PageItemsOnBehalfOf">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/PageItemsOnBehalfOf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:PageItemsOnBehalfOfRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryWorkitemCount">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/QueryWorkitemCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryWorkitemCountRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryWorkitemCountOnBehalfOf">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/QueryWorkitemCountOnBehalfOf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:QueryWorkitemCountOnBehalfOfRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetadata">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetMetadata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMetadataRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetadataEx">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetMetadataEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMetadataExRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetadataEx2">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetMetadataEx2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetMetadataEx2RequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BulkUpdate">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/BulkUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:BulkUpdateRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoredQuery">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetStoredQuery" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStoredQueryRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoredQueries">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/GetStoredQueries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetStoredQueriesRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncExternalStructures">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/SyncExternalStructures" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SyncExternalStructuresRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncAccessControlLists">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/SyncAccessControlLists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SyncAccessControlListsRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncBisGroupsAndUsers">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/SyncBisGroupsAndUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:SyncBisGroupsAndUsersRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestCancel">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/WorkItemTracking/ClientServices/03/RequestCancel" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:RequestCancelRequestHeader" part="RequestHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService2">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Team Foundation WorkItemTracking ClientService web service</wsdl:documentation>
    <wsdl:port name="ClientService2Soap" binding="tns:ClientService2Soap">
      <soap:address location="http://172.26.240.209:8080/tfs/_tfs_resources/WorkItemTracking/v1.0/ClientService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientService2Soap12" binding="tns:ClientService2Soap12">
      <soap12:address location="http://172.26.240.209:8080/tfs/_tfs_resources/WorkItemTracking/v1.0/ClientService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
