tfsIntegration/stubs/wsdl-override/Registration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://schemas.microsoft.com/TeamFoundation/2005/06/Services/Registration/03" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://schemas.microsoft.com/TeamFoundation/2005/06/Services/Registration/03" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Team Foundation Registration web service</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/TeamFoundation/2005/06/Services/Registration/03">
      <s:element name="GetRegistrationEntries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="toolId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRegistrationEntriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRegistrationEntriesResult" type="tns:ArrayOfFrameworkRegistrationEntry" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfFrameworkRegistrationEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RegistrationEntry" nillable="true" type="tns:FrameworkRegistrationEntry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="FrameworkRegistrationEntry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ServiceInterfaces" type="tns:ArrayOfRegistrationServiceInterface" />
          <s:element minOccurs="0" maxOccurs="1" name="Databases" type="tns:ArrayOfRegistrationDatabase" />
          <s:element minOccurs="0" maxOccurs="1" name="EventTypes" type="tns:ArrayOfRegistrationEventType" />
          <s:element minOccurs="0" maxOccurs="1" name="ArtifactTypes" type="tns:ArrayOfRegistrationArtifactType" />
          <s:element minOccurs="0" maxOccurs="1" name="RegistrationExtendedAttributes" type="tns:ArrayOfRegistrationExtendedAttribute2" />
          <!--[IntelliJ] +++++++++++++++++++ -->
          <s:element minOccurs="0" maxOccurs="1" name="ChangeType" type="tns:ChangeType" />
          <!--[IntelliJ] ******************* -->
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRegistrationServiceInterface">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ServiceInterface" nillable="true" type="tns:RegistrationServiceInterface" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegistrationServiceInterface">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRegistrationDatabase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Database" nillable="true" type="tns:RegistrationDatabase" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegistrationDatabase">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DatabaseName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SQLServerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConnectionString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExcludeFromBackup" type="s:boolean" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRegistrationEventType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="EventType" nillable="true" type="tns:RegistrationEventType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegistrationEventType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Schema" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRegistrationArtifactType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ArtifactType" nillable="true" type="tns:RegistrationArtifactType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegistrationArtifactType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OutboundLinkTypes" type="tns:ArrayOfOutboundLinkType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfOutboundLinkType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="OutboundLinkType" nillable="true" type="tns:OutboundLinkType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="OutboundLinkType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TargetArtifactTypeTool" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TargetArtifactTypeName" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfRegistrationExtendedAttribute2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="RegistrationExtendedAttribute" nillable="true" type="tns:RegistrationExtendedAttribute2" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="RegistrationExtendedAttribute2">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ChangeType">
        <s:restriction base="s:string">
          <s:enumeration value="Add" />
          <s:enumeration value="Change" />
          <s:enumeration value="Delete" />
          <s:enumeration value="NoChange" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRegistrationEntriesSoapIn">
    <wsdl:part name="parameters" element="tns:GetRegistrationEntries" />
  </wsdl:message>
  <wsdl:message name="GetRegistrationEntriesSoapOut">
    <wsdl:part name="parameters" element="tns:GetRegistrationEntriesResponse" />
  </wsdl:message>
  <wsdl:portType name="RegistrationSoap">
    <wsdl:operation name="GetRegistrationEntries">
      <wsdl:input message="tns:GetRegistrationEntriesSoapIn" />
      <wsdl:output message="tns:GetRegistrationEntriesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RegistrationSoap" type="tns:RegistrationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRegistrationEntries">
      <soap:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Services/Registration/03/GetRegistrationEntries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RegistrationSoap12" type="tns:RegistrationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRegistrationEntries">
      <soap12:operation soapAction="http://schemas.microsoft.com/TeamFoundation/2005/06/Services/Registration/03/GetRegistrationEntries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Registration">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Team Foundation Registration web service</wsdl:documentation>
    <wsdl:port name="RegistrationSoap" binding="tns:RegistrationSoap">
      <soap:address location="http://172.26.240.209:8080/tfs/_tfs_resources/Services/v1.0/Registration.asmx" />
    </wsdl:port>
    <wsdl:port name="RegistrationSoap12" binding="tns:RegistrationSoap12">
      <soap12:address location="http://172.26.240.209:8080/tfs/_tfs_resources/Services/v1.0/Registration.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>